.active {
  background-color: #e0e0e0;
  color: black;
  border: 1px solid gray;
  border-radius: 50px;
}

.active-ring {
  border: 1px solid #e54065;
}

.avatar {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: #e54065;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-bg {
  background-color: #f2f2f2;
}

.shimmer {
  background: #f0f0f0;
  background-image: linear-gradient(
    to right,
    #f0f0f0 0%,
    #e0e0e0 20%,
    #f0f0f0 40%,
    #f0f0f0 100%
  );
  background-size: 200% 100%;
  animation: shimmer-animation 1.5s infinite linear;
}

@keyframes shimmer-animation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
